.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  border-radius: 8px;
  /* Added a border-radius for a softer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Added a subtle box shadow for depth */
}

.product__rating {
  display: flex;
}

.product>img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 20px 0 0 15px;
  border-bottom: 1px solid #ccc;
  /* Added a bottom border for separation */
  padding-bottom: 15px;
  /* Adjusted padding for better spacing */
}

.product>button {
  margin-top: 15px;
  /* Reduced the top margin for better alignment */
  background: #ff9f00;
  border: 1px solid #a88734;
  color: #111;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  /* Increased font size for better visibility */
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.product>button:hover {
  background: #ffbf3e;
  color: #000;
}

.product__price {
  margin-top: 10px;
  /* Adjusted top margin for better spacing */
  font-size: 16px;
  /* Increased font size for better visibility */
  font-weight: bold;
  /* Added bold font weight */
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}